$mainbackground: #8C2333;

* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}
body {
    
}
.zmdi{
    font-size: 24px;
}
.material-icons.circle{
    width: 42px;
    height: 42px;
    overflow: hidden;
    left: 15px;
    display: inline-block;
    vertical-align: middle;

    font-size: 18px;
    line-height: 42px;
    color: #fff;
    background-color: #999;
    text-align: center;

    i{
        line-height: 42px;
    }
}

/* Portrait layout (default) */
.app {
}


nav {
    background-color: $mainbackground;

    .sidenav-trigger{
        margin:0;
        display: block !important;
    }
}
.sidenav {
    .user-view .background {
        overflow: hidden;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: -1;
        background-color: $mainbackground;
    }

    .separator{
        border-top:1px solid #d3d3d36b;
    }
}

.book{
    font-family: "FaktProSoft", "Helvetica Neue", helvetica, arial, sans-serif;
    font-size: 16px;

    h1, h2, h3, h4, h5, h6{
        color:#bd273d;
        font-weight: 400;
    }
    h1{
        display: block;
        -webkit-margin-before: 1.33em;
        -webkit-margin-after: 1.33em;
        -webkit-margin-start: 0px;
        -webkit-margin-end: 0px;
        font-weight: bold;

        font-size: 2.28rem;
        line-height: 110%;
        margin: 1.52rem 0 .912rem 0;
    }
    h2{
        display: block;
        font-size: 0.83em;
        -webkit-margin-before: 1.67em;
        -webkit-margin-after: 1.67em;
        -webkit-margin-start: 0px;
        -webkit-margin-end: 0px;
        font-weight: bold;

        font-size: 1.64rem;
        line-height: 110%;
        margin: 1.0933333333rem 0 .656rem 0;
    }
    h3{    
        display: block;
        font-size: 0.67em;
        -webkit-margin-before: 2.33em;
        -webkit-margin-after: 2.33em;
        -webkit-margin-start: 0px;
        -webkit-margin-end: 0px;
        font-weight: bold;

        font-size: 1.15rem;
        line-height: 110%;
        margin: .7666666667rem 0 .46rem 0;
    }
    
    .auth{
        color:#bd273d;
        margin-top: 0;
    }
    figure{
        &.figura{
            img {
                border: 2px solid #bd273d;
            }
        }
        margin: 30px 0px;
        padding: 0.5rem;
        img{
            width:100%
        }
    }
}

.flexcontainer{
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    &.row {
        flex-direction: row;
    }
    &.grid{
        justify-content: center;
        flex-flow: row wrap;
        align-content: stretch;
        align-items: center;     
    }

    div { //contenido
        flex:1 0 0; //flex or height
        &.big{
            flex:2 0 0;
        }
    }


}

body.VistaHome{overflow: hidden;}
.VistaHome{

    &.vista{
        
    }
    nav.top{
        background-color: transparent;

        .sidenav-trigger{
            display: none !important;
        }
    }
    .vista-header{
        // background-image:url(../img/vista-header.png);
        // height: 100px;
        // background-repeat: no-repeat;
        // background-size: 100%;

        img {
            width: 100%; 
            margin-top: -56px;
        }
    }
    .vista-bottom{
        max-height: 56px;
        &.navbar-fixed nav{
            position: fixed;
            bottom:0;
        }
        ul{
            
        }
    }
    .home-menu{        
        text-align: center;
        min-width: 22%;
        margin: 5px 15px;

        span{
            display: block;
            color:#D8AAAE;
        }
        i.circle{
            background-color:#D8AAAD;
            
            width:100px;
            height:100px;
            line-height: 100px;

            .zmdi{
                font-size: 44px;
                line-height:100px;
            }
        }

        &.doublesize{
            i.circle{
                width: 125px;
                height: 125px;
                margin-left: -12.5px;
                line-height: 155px;
                .zmdi{
                    font-size: 55px;
                }
            }
        }
    }
}

.VistaIndice{
    ul.secciones{
        border:0;

        li.seccion{
            padding-left:10px; 
            padding-right:10px;

            .titulo-seccion{
                color:#CF0A2C;
                font-size: 1.5rem;
                font-family: "Bodega Sans", "Helvetica Neue", sans-serif;
                text-transform: uppercase;
            }

            .capitulos{
                border:none;

            }
            &.collapsed {
                .capitulos{
                    display: none;
                }
            }
        }
        
        li.capitulo{
            padding-left:42px;

            .capNumber{
                display: block;
            }
            .title{
                color:#C7A9AE;
                font-size: 1.5rem;
            }
            .autores{
                color:#9B9B9B;
            }
        }
    }

}