$mainbackground: #8C2333;

* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}
body {
    &.ios{
        #content .vista{
            padding-top: env(safe-area-inset-top);
            padding-bottom: env(safe-area-inset-bottom);

            // margin-top:8px;
        }

        .vista-body{
            background-color: white;
        }

        > .navbar-fixed {
            background-color:$mainbackground;
            
            height:76px;
            
            .nav-wrapper{
                height:76px;
                padding-top:10px;
                box-shadow: 0 0 0;
            }
        }
        .navbar-fixed.bottom {
            .nav-wrapper{ 
                
            }
        }

        // .VistaCapitulo .navbar-fixed.bottom a {
        //     padding-left: 8px; //botonera no cabe en iPhone5
        //     padding-right: 8px;
        // }
    }
}

@font-face{
    font-family:"Helvetica-Neue-Condensed";
    src: url("../fonts/HelveticaNeueLTStd-Cn.otf") format("opentype");
}
@font-face{
    font-family:"Helvetica-Neue-Light-Condensed";
    src: url("../fonts/HelveticaNeueLTStd-LtCn.otf") format("opentype");
}
@font-face{
    font-family:"Bodega-Sans";
    src: url("../fonts/BodegaSansLight.ttf") format("truetype");
}

.zmdi{
    font-size: 24px;
}
.material-icons.circle{
    width: 42px;
    height: 42px;
    overflow: hidden;
    left: 15px;
    display: inline-block;
    vertical-align: middle;

    font-size: 18px;
    line-height: 42px;
    color: #fff;
    background-color: #999;
    text-align: center;

    i{
        line-height: 42px;
    }
}
nav i, nav [class*="mdi-"] {
    line-height: 56px;
    font-size:28px;
}


/* Portrait layout (default) */
.app {
}


nav {
    background-color: $mainbackground;

    .sidenav-trigger{
        margin:0;
        display: block !important;
    }
}
.sidenav {
    .user-view .background {
        overflow: hidden;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: -1;
        background-color: $mainbackground;
    }

    .separator{
        border-top:1px solid #d3d3d36b;
    }
}

nav .brand-logo{
    // display: none!important;

    font-family: Helvetica-Neue-Light-Condensed;
    font-size: 18px;
    line-height: 65px;
}

textarea.materialize-textarea:focus:not([readonly]) + label {
    color: #bd273d;
}
textarea.materialize-textarea:focus:not([readonly]) {
    border-bottom: 1px solid #bd273d;
    box-shadow: 0 1px 0 0 #bd273d;
}

.book{
    padding: 0 10px 50px;
    
    font-family: "FaktProSoft", "Helvetica Neue", helvetica, arial, sans-serif;
    font-size: 16px;

    overflow-x: hidden;

    h1, h2, h3, h4, h5, h6{
        color:#bd273d;
        font-weight: 400;
    }
    h1{
        display: block;
        -webkit-margin-before: 1.33em;
        -webkit-margin-after: 1.33em;
        -webkit-margin-start: 0px;
        -webkit-margin-end: 0px;
        font-weight: bold;

        font-size: 2.28rem;
        line-height: 110%;
        margin: 1.52rem 0 .912rem 0;
    }
    h2{
        display: block;
        
        -webkit-margin-before: 1.67em;
        -webkit-margin-after: 1.67em;
        -webkit-margin-start: 0px;
        -webkit-margin-end: 0px;
        font-weight: bold;

        font-size: 1.64rem;
        line-height: 110%;
        margin: 1.0933333333rem 0 .656rem 0;
    }
    h3{    
        display: block;
        
        -webkit-margin-before: 2.33em;
        -webkit-margin-after: 2.33em;
        -webkit-margin-start: 0px;
        -webkit-margin-end: 0px;
        font-weight: bold;
        font-size: 1.55rem;
        line-height: 110%;
        margin: 1.766667rem 0 .46rem 0;
        font-family: "Helvetica-Neue-Condensed";
    }
    h4{    
        display: block;
        
        -webkit-margin-before: 2.33em;
        -webkit-margin-after: 2.33em;
        -webkit-margin-start: 0px;
        -webkit-margin-end: 0px;
        font-weight: bold;
        font-size: 1.3rem;
        line-height: 110%;
        margin: 1.766667rem 0 .46rem 0;
        font-family: "Helvetica-Neue-Condensed";
    }
    
    a{
        color: #bd273d;

        overflow-wrap: break-word;
        word-wrap: break-word;
        word-break: break-all;
        hyphens: auto;
    }

    ul{
        padding-left: 20px;

        li::before {
            content: "▪ ";
            color: #bd273d;
            margin-left: -1rem;
            float: left;
            font-size: 20px;
            margin-top: -.3rem;
        }
    }
    .auth{
        color:#bd273d;
        margin-top: 0;
    }
    figure{
        &.figura{
            img {
                border: 2px solid #bd273d;
            }
        }
        margin: 30px 0px;
        padding: 0.5rem;
        img {
            width:100%
        }
        figcaption {
            color: gray;
            font-size: small;
        }
    }
}

.flexcontainer{
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    &.row {
        flex-direction: row;
    }
    &.grid{
        justify-content: center;
        flex-flow: row wrap;
        align-content: stretch;
        align-items: center;     
    }

    div { //contenido
        flex:1 0 0; //flex or height
        &.big{
            flex:2 0 0;
        }
    }


}

.admonition{
    &.favs .row.img{
        background-image: url("../img/empty-state.svg");
    }
    &.notes .row.img{
        background-image: url("../img/empty-state.svg");
    }
    .row{
        &.img{
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;

            padding-top: 8rem;
            margin-top: 9rem;
        }
        &.txt{
            font-size: 27px;
            text-align: center;
            padding-right: 1rem;
            padding-left: 1rem;
            color: darkgray;
            font-weight: 200;
        }
    }
}

body.VistaHome{
    overflow: hidden;
}
body.VistaHome, body.VistaPresentacion{
    > .navbar-fixed{
        opacity: 0;
    }
}
.VistaHome, .VistaPresentacion{
    user-select:none;

   
    &.vista{
        position: fixed;
        overflow: hidden;
        top:0;
        width: 100%;
    }
    nav.top{
        display: none;

        background-color: transparent;

        .sidenav-trigger{
            display: none !important;
        }
    }
    .vista-header{
        background-image:   url(../img/cabecera-hetromb-home-titulocabecera.png), 
                            url(../img/cabecera-hetromb-home-logos.png), 
                            url(../img/cabecera-hetromb-home-coordinadores.png), 
                            url(../img/cabecera-hetromb-home-fondologos.png), 
                            url(../img/cabecera-hetromb-home-fondo.png);
        background-repeat: no-repeat;
        background-size:22rem, 12rem, 11rem, 100% 5.5rem, cover;
        
        background-position-x: 1rem, 1rem, calc(100% - 1rem), center, center;
        background-position-y: 3rem, 9.5rem, 9rem, bottom, center;

        height: 14rem;
        // margin-top: -65px;
        margin-top: -1px;

        img {
            width: 120%;
            margin-top: -70px;
            margin-left: -20px;
        }
    }
    .vista-body{
        height:calc( 100% - 56px - 192px);
        overflow-x: hidden;
    }
    .vista-bottom{
        max-height: 56px;


        &.navbar-fixed { 
            position: fixed;
            nav{
                position: fixed;
             
                // li.bottom-menu a i.zmdi{
                //     line-height: 54px;
                // }
            }
        }
        ul{
            .bottom-menu i{
                font-size:36px;
            }
        }

        #menu {
            i {
                float: right;
                font-size: 21px;
                margin-left: 8px;
            }
        }
        .form-element{
            margin-left: 1rem;
            color:white;

            *[type="checkbox"] + span:not(.lever){
                line-height: 22px;
            }
            *[type="checkbox"].filled-in:checked + span:not(.lever):before{
                border-right: 2px solid gray;
                border-bottom: 2px solid gray;
            }
            *[type="checkbox"].filled-in:checked + span:not(.lever):after{
                background-color: white;
                border-color: white;
            }
            *[type="checkbox"].filled-in:not(:checked) + span:not(.lever):after{
                border-color:white;
            }
        }

    }
    .home-menu{        
        text-align: center;
        min-width: 32%;
        height:130px;

        background-repeat: no-repeat;
        background-position: center center;

        span{
            display: block;
            color:#D8AAAE;
        }

        &.doublesize{   
        }

        &.presentacion{
            background-image:url('../img/hetromb-home-presentacion.svg');
        }
        &.indice{
            background-image: url('../img/hetromb-home-indice.svg');
        }
        &.autores{
            background-image: url('../img/hetromb-home-autores.svg');
        }
        &.favoritos{
            background-image: url('../img/hetromb-home-favoritos.svg');
        }
        &.buscar{
            background-image: url('../img/hetromb-home-buscar.svg');
        }
        &.notas{
            background-image: url('../img/hetromb-home-notas.svg');
        }
        &.promueven{
            background-image: url('../img/hetromb-home-promueven.svg');
        }
    }
}

.VistaIndice{
    user-select:none;
    // nav .brand-logo{
    //     display: inline-block !important;
    // }
    ul.secciones{
        border:0;

        li.seccion{
            padding:5px 10px;

            .titulo{
                color:#CF0A2C;
                font-size: 2.5rem;
                font-family: "Bodega-Sans", "Helvetica Neue", sans-serif;
                text-transform: uppercase;
                padding: 1rem 0rem;
                min-width: 100%;
                line-height: 2.5rem;
            }

            .capitulos{
                border:none;

            }
            &.collapsed {
                .capitulos{
                    display: none;
                }
            }
        }
        
        li.capitulo{
            //padding-left:72px;
            padding: 10px 0px;

            .capNumber{
                display: block;
                line-height: 1rem;
                font-weight: 300;
                width: 100%;
                opacity: 1;
                color: black;
                font-size: 1.2rem;
                font-family: "Helvetica-Neue-Light-Condensed";
                margin-top: 8px;
                margin-bottom: 0;
            }
            .title{
                font-size: 1.6rem;
                line-height: 1.6rem;
                font-weight: 300;
                padding-top: 14px;
                color: #bc4b46;
                font-family: "Helvetica-Neue-Condensed";
                display: inline-block;

                white-space: nowrap; text-overflow: ellipsis; overflow: hidden;
                max-width: 90%;
            }
            .autores{
                display: block;
                line-height: 1.3rem;
                font-weight: 300;
                width: 100%;
                opacity: .6;
                color: black;
                font-size: 1.15rem;
                font-family: "Helvetica-Neue-Light-Condensed";
                
                margin-top: 0;
                margin-bottom: 0;
            }

            > .secondary-content{
                // padding: 1rem;
                // margin-right: -1rem;
                // margin-top: -1.2rem;
                // padding-bottom: 4rem;

                color: gray;
                background-color:white;
                box-shadow: none;
                top:-5px; right:0;

                &:hover{
                    background-color: white;
                }

                i{
                    font-size: 1.8rem;
                    text-align: left;
                    margin-left: -3px;
                    line-height: 2.8rem;
                }
            }
            ul.apartados{
                // padding: 0px 10px;
                // border-top: 1px dotted silver;
                // margin: 10px 0;
                // border-bottom: 1px dotted silver;
                // background: #c0c0c036;

                padding:0;
                margin-bottom: 0;

                border:none;
                background-color: white;
                

                li.apartado{

                    min-height: 4.5rem;
                    line-height: 1.7rem;
                    font-size: large;
                    padding-left: 62px;
                    padding-right: 2rem;

                    font-family: "Helvetica-Neue-Condensed";
                    color: gray;
                    
                    > i.star{
                        left:5px;
                    }

                    .secondary-content{
                        color: #d0092d;
                    }
                }
            }

            &.collapsed ul.apartados{
                display:none;
            }

            .star{
                background-color:white;
                color: #999;
                

                > i{
                    font-size: 2.8rem;
                    font-weight: normal;
                }
            }
            .apartado.starred{
                i.star {
                    .zmdi:before{
                        content: "\e909";
                        color:#b9423d;
                    }
                }
            }

        }   
    }
    .vista-body.favsOnly{
        li.capitulo, li.apartado{
            display: none;
        }
        li.capitulo.starred, li.apartado.starred{
            display: block;
        }
    }
}

.VistaCapitulo{
    // nav .brand-logo{
    //     display: inline-block !important;
    // }
    
    .navbar-fixed{
        user-select:none;
        .nav-wrapper.secondary{
            padding:0 15px;
            background-color: #eeeeee;

            .title{
                font-size: 1.6rem;
                line-height: 1rem;
                float: left;
                font-weight: 300;
                padding-top: 14px;
                
                white-space: nowrap;
                
                color:#bc4b46;
        
                font-family: "Helvetica-Neue-Condensed";

                max-width: 100%;
                overflow: hidden;
                text-overflow: ellipsis;
            }
            .subtitle{
                display: block;
                line-height: 1rem;
                float: left;
                font-weight: 300;
                padding-top: 10px;
        
                width: 100%;
                opacity: .6;
        
                white-space: nowrap;
                text-overflow: ellipsis;
                overflow: hidden;
        
                color: black;
                font-size: 1.2rem;
                font-family: "Helvetica-Neue-Light-Condensed";
            }
        }
        &.bottom{
            position: absolute;
            bottom: 0;

            a{
                padding-left: 8px; 
                padding-right: 8px;
            }
        }

    }

    .zmdi-star-outline.zmdi-star:before{
        content: '\f27d'; //star
    }
}

.VistaAutores{
    user-select:none;
    ul.autores{
        border:none;
        margin-bottom: 0;

        .autor{
            padding-bottom: 0;
            p{
                color:gray;
                font-style: oblique;
            }
            &.hidden{
                display: none;
            }
        }
    }
    ul.collection.capitulos{
        border:none;
        margin-bottom: 0;

        li{
            padding-left: 0;
            padding-right: 0;
        }
        .title{
            overflow: hidden;
            max-width: 92%;
            text-overflow: ellipsis;
            white-space: normal;
            display: inline-block;
            color: $mainbackground;
        }

        .secondary-content{
            color:silver;
            position: relative;
            top: 0px;
            right: 0px;
        }
    }

   
}

.VistaPDF{
    user-select:none;
}

.VistaPromueven{
    user-select:none;
    nav .brand-logo{
        display: inline-block !important;
    }
    .vista-body{
        position: fixed;
        overflow: hidden;
        width: 100%; 
        height:100%;
    }
    ul{
        border:0;
    }
    .title{
        display: block;
    }
    img{
        max-width: 9rem;
        float: right!important;
        margin-right: 30%!important;
        text-align: center;
    }

    .secondary-content{
        color:silver;
        margin-top: 1rem;
    }
}

div.modal{
    &#myNotes{
        textarea{
            min-height: 6rem;
        }
    }

    &#buscar{
        position: fixed;
        overflow: hidden;
        left: 0;
        top: 0!important;
        width: 100%;
        max-height: 100%;
        height: 100%;

        background-color: rgba(68, 68, 68, 0.6);

        .modal-content{
            padding: 0 0 5px 0;
            overflow: hidden;
        }
        nav{
            position: fixed;
            top: 0;

            background-color: white;
            z-index: 100;

            .input-field label.active i{
                color:black;
            }
        }

        .label-icon{
            color:black;
            
            &.close{}
            &.search{
                position: absolute;
                top: 0;
                right: 0;
                transition: background-color .3s;
                font-size: 1rem;
                font-style: normal;
                color: black;
                display: block;
                background: white;
                padding: 0 15px;
                cursor: pointer;
                border: 0;
                box-shadow: 0 0 0;
                height: 4rem;
                line-height: 4.3rem;
            }
        }

        .search-results{
            border: none;
            padding-top: 4rem;
            overflow: auto;
            height: 100%;
            position: absolute;
            max-width: 100%;
        }
        .search-result{
            font-size: 14px;

            .title{color: #bd273d;}
        }
        span.found{
            font-weight: bold;
            background: yellow;
        }


    }
}

i.letter{
    
    padding: 1rem;
    background-size: cover;
    background-color: white !important;

    &.letterA{background-image: url("../img/letters/A.svg");}
    &.letterB{background-image: url("../img/letters/B.svg");}
    &.letterC{background-image: url("../img/letters/C.svg");}
    &.letterD{background-image: url("../img/letters/D.svg");}
    &.letterE{background-image: url("../img/letters/E.svg");}
    &.letterF{background-image: url("../img/letters/F.svg");}
    &.letterG{background-image: url("../img/letters/G.svg");}
    &.letterH{background-image: url("../img/letters/H.svg");}
    &.letterI{background-image: url("../img/letters/I.svg");}
    &.letterJ{background-image: url("../img/letters/J.svg");}
    &.letterK{background-image: url("../img/letters/K.svg");}
    &.letterL{background-image: url("../img/letters/L.svg");}
    &.letterM{background-image: url("../img/letters/M.svg");}
    &.letterN{background-image: url("../img/letters/N.svg");}
//    .letterÑ{background-image: url("../img/letters/Ñ.svg");}
    &.letterO{background-image: url("../img/letters/O.svg");}
    &.letterP{background-image: url("../img/letters/P.svg");}
    &.letterQ{background-image: url("../img/letters/Q.svg");}
    &.letterR{background-image: url("../img/letters/R.svg");}
    &.letterS{background-image: url("../img/letters/S.svg");}
    &.letterT{background-image: url("../img/letters/T.svg");}
    &.letterU{background-image: url("../img/letters/U.svg");}
    &.letterV{background-image: url("../img/letters/V.svg");}
    &.letterW{background-image: url("../img/letters/W.svg");}
    &.letterX{background-image: url("../img/letters/X.svg");}
    &.letterY{background-image: url("../img/letters/Y.svg");}
    &.letterZ{background-image: url("../img/letters/Z.svg");}
}

.VistaLegal{
    text-align: center;

    .book{
        padding-top: 4rem;
    }

    p {
        padding:0;
        margin:0;
    }
    figure{

        img{
            border:none !important;
            
        }
        max-width: 12rem;
        margin:0 auto 0 auto;
    }
}

.VistaNotas{
    ul.collection.notas{
        border:0;

        .circle{
            background-color: $mainbackground;
        }

        .title{
            overflow: hidden;
            max-width: 92%;
            text-overflow: ellipsis;
            white-space: nowrap;
            display: inline-block;
            color:gray;
        }
        p.nota{
            font-size: 16px; 
            color:black;
            white-space: pre-line;
        }

        .acciones{
            margin-top:1rem;
            border-top:1px solid #e0e0e0;
            text-align: right;

            .btn{
                background-color: white;
                box-shadow: 0 0 0;
                color:$mainbackground;

                &.edit{
                    line-height: 33px;
                    i {
                        margin-right: 10px;
                    }
                }
                
            }
        }
    }
}