<?xml version='1.0' encoding='utf-8'?>
<widget id="com.imaidea.aranediciones.hemostrombo" version="0.1.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Hemostasia y trombosis. Manual práctico</name>
    <description></description>
    <author email="mzamorano@imaidea.com" href="http://imaidea.com">
        Imaidea
    </author>
    <content src="lnk/index.html" />
    <plugin name="cordova-plugin-whitelist" spec="1" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <!-- 
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" /> 
    <allow-intent href="geo:*" />
    -->
    <allow-intent href="mailto:*" />
    
    <platform name="android">
        <allow-intent href="market:*" />

        <icon src="res/icon/android/icon-36-ldpi.png" platform="android" width="36" height="36" density="ldpi" />
        <icon src="res/icon/android/icon-48-mdpi.png" platform="android" width="48" height="48" density="mdpi" />
        <icon src="res/icon/android/icon-72-hdpi.png" platform="android" width="72" height="72" density="xdpi" />
        <icon src="res/icon/android/icon-96-xhdpi.png" platform="android" width="96" height="96" density="xhdpi" />
    </platform>
    
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />

        <icon src="res/icon/ios/icon-57.png" platform="ios" width="57" height="57"/>
        <icon src="res/icon/ios/icon-72.png" platform="ios" width="72" height="72"/>
        <icon src="res/icon/ios/icon-57-2x.png" platform="ios" width="114" height="114"/>
        <icon src="res/icon/ios/icon-72-2x.png" platform="ios" width="144" height="144"/>
    </platform>

    <!--
    <gap:plugin name="cordova-plugin-x-socialsharing" source="npm" />
    <gap:plugin name="cordova-plugin-apprate" />
     -->

    <preference name="StatusBarBackgroundColor" value="#8c2333" />
</widget>