<?xml version='1.0' encoding='utf-8'?>
<widget id="com.imaidea.aranediciones.hemostrombo" version="0.1.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Hemostasia y trombosis. Manual práctico</name>
    <description></description>
    <author email="mzamorano@imaidea.com" href="http://imaidea.com">
        Imaidea
    </author>
    <content src="lnk/index.html" />
    <plugin name="cordova-plugin-whitelist" spec="1" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <!-- 
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" /> 
    <allow-intent href="geo:*" />
    -->
    <allow-intent href="mailto:*" />
    
    <platform name="android">
        <allow-intent href="market:*" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>

    <!--
    <gap:plugin name="cordova-plugin-x-socialsharing" source="npm" />
    <gap:plugin name="cordova-plugin-apprate" />
     -->

    <preference name="StatusBarBackgroundColor" value="#8c2333" />
</widget>


<!--    
dependencies {
    compile fileTree(dir: 'libs', include: '*.jar')
    // SUB-PROJECT DEPENDENCIES START
//    debugCompile(project(path: "CordovaLib", configuration: "debug"))
//    releaseCompile(project(path: "CordovaLib", configuration: "release"))

// new dependency configurations.
    implementation project(':CordovaLib')

    compile "com.android.support:support-v4:24.1.1+"
    // SUB-PROJECT DEPENDENCIES END
}
 -->